<div>
    <h2 id="2026">2026</h2>
    <ul>
        {{ range .Site.Data.publications.in2026 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>
    
    <h2 id="2025">2025</h2>
    <ul>
        {{ range .Site.Data.publications.in2025 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>
    
    <h2 id="2024">2024</h2>
    <ul>
        {{ range .Site.Data.publications.in2024 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                    {{ if .cqu_rank }}
                    , <b>CSL@CQU Rank {{.cqu_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>

    <h2 id="2023">2023</h2>
    <ul>
        {{ range .Site.Data.publications.in2023 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                    {{ if .cqu_rank }}
                    , <b>CSL@CQU Rank {{.cqu_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>
    
    <h2 id="2022">2022</h2>
    <ul>
        {{ range .Site.Data.publications.in2022 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                    {{ if .cqu_rank }}
                    , <b>CSL@CQU Rank {{.cqu_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>

    <h2 id="2021">2021</h2>
    <ul>
        {{ range .Site.Data.publications.in2021 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                    {{ if .cqu_rank }}
                    , <b>CSL@CQU Rank {{.cqu_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>

    <h2 id="2020">2020</h2>
    <ul>
        {{ range .Site.Data.publications.in2020 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                    {{ if .cqu_rank }}
                    , <b>CSL@CQU Rank {{.cqu_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>

    <h2 id="2019">2019</h2>
    <ul>
        {{ range .Site.Data.publications.in2019 }}
            <li>
                <p><b><a href="{{ .link }}">{{ .title }}
                    {{ if .highlight }}
                    <span style="color: red;">
                        ({{ .highlight }})
                    </span>
                    {{ end }}
                </a></b></p>
                <p>{{.authors}}</p>
                <p><i>{{.publication}}</i>
                    {{ if .ccf_rank }}
                    , <b>CCF {{.ccf_rank}}</b>
                    {{ end }}
                    {{ if .cqu_rank }}
                    , <b>CSL@CQU Rank {{.cqu_rank}}</b>
                    {{ end }}
                </p>
            </li>
        {{ end }}
    </ul>
  
</div>
